{% extends 'TemplateBase.html' %}
{% load static %}

{% block title %}
Questão 01
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'questionpage.css' %}">
{% endblock head %}

{% block body %}
<div id="question">
    <div id="statement">
        <p>
            {{ form.question }}
        </p>
    </div>
    <div id="options">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <input type="submit" value="Responder">
        </form>
    </div>
</div>

<script>
    document.querySelector('label').textContent = ''
</script>


{% endblock body %}